/* components/layout.module.css */
.container {
  display: flex;
}

.mainContent {
  flex: 1;
  padding-left: 220px; /* Adjust to avoid overlapping with the sidebar */
  padding-top: 20px;
  background-color: #f8f9fa;
}
