/* Form container */
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

/* Program form styling */
.programForm {
  width: 20%; /* Set to 1/5th of the container width */
  max-width: 400px; /* Limit the maximum width */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.programForm label {
  display: block;
  margin-bottom: 10px;
}

.programForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.programForm button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.programForm button:hover {
  background-color: #45a049;
}
